*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #282A36;
}

.header {
  position: absolute;
  display: block;
  text-transform: lowercase;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.heading-primary{
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 10px;
 
}
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.btn-white {
  background-color: #fff;
  color: #777;
}

.header-p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
}

/*
TYPED JS CODE
*/

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.9s infinite;
  -moz-animation: blink 0.9s infinite;
  animation: blink 0.9s infinite;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/*
TYPED JS CODE
*/